<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461785850893-svkd6gjjikiv0ib2s1fca9f44088mvg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461785850893-svkd6gjjikiv0ib2s1fca9f44088mvg0</string>
	<key>API_KEY</key>
	<string>AIzaSyBXKOcTTrKluxJ2TdjSfp-HSf7b2MGN9W4</string>
	<key>GCM_SENDER_ID</key>
	<string>461785850893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HA.happyanimal.happyanimalApp</string>
	<key>PROJECT_ID</key>
	<string>happyanimal-a65c8</string>
	<key>STORAGE_BUCKET</key>
	<string>happyanimal-a65c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461785850893:ios:2882b346def0bd0d47e144</string>
	<key>DATABASE_URL</key>
	<string>https://happyanimal-a65c8-default-rtdb.firebaseio.com</string>
</dict>
</plist>